body {
  background-color: #f3f6f8;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.nav-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .nav-logo {
    animation: nav-logo-spin infinite 20s linear;
  }
}

@keyframes nav-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signupButton {
  color: greenyellow !important;
}

.loginButton {
  color: blue !important;
}

/**********************
 *      NavBar        *
 **********************/

.nav-btn {
  margin: 5px !important;
}

nav.primary {
  background-color: #3b5998 !important;
  /* background-color: #25318d !important; */
  color: "#FFFFFF" !important;
}

.nav-link {
  color: white !important;
  font-size: 18px;
}

.nav-link:hover {
  color: #000 !important;
}

.nav-text {
  color: rgb(200, 200, 200) !important;
}

.nav-text:hover {
  color: rgb(200, 200, 200) !important;
}

/* Dropdown */

.dropdown .dropdown-menu a {
  color: #fff;
  text-decoration: none;
}

.dropdown .btn:active {
  color: #000;
}

@media screen and (min-width: 990px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media screen and (max-width: 990px) {
  .dropdown-menu-learnmore {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  .dropdown-menu a {
    color: #3b5998 !important;
  }

  a.btn {
    color: white !important;
  }

  .dropdown-menu a:hover {
    background: none;
    color: #000 !important;
  }
}

.dropdown-menu-learnmore {
  /* background-color: #3b5998; */
  /* background-color: #25318d; */
  /* opacity: 0.7; */
  background-color: rgba(59, 89, 152, 0.8);
}

.dropdown-menu a:hover {
  background: none;
  color: #000;
}

/* Login Logic */
#login-dp {
  min-width: 350px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}
#login-dp .help-block {
  font-size: 12px;
}
#login-dp .bottom-login {
  /* min-width: 350px; */
  width: auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

#login-dp .form-group {
  margin-bottom: 10px;
}
