#root {
  width: 100%;
  /* Flexbox for sticky footer */
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh;
}

body {
  /* background-color: #f3f6f8; */
  background-color: white;
  width: 100%;
}

div.switch-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 !important;
}

.btn-radius {
  width: 30%;
  min-width: 200px;
  /* height: 40px; */
  border-radius: 100px !important;
}

.center-col {
  /* border-style: solid; */
  text-align: center;
}

.nav-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .nav-logo {
    animation: nav-logo-spin infinite 20s linear;
  }
}

@keyframes nav-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**********************
 *      NavBar        *
 **********************/

.nav-btn {
  margin: 5px !important;
}

nav.primary {
  /* background-color: #3b5998 !important; */
  background-color: #3c286d !important;
  color: "#FFFFFF" !important;
}

.nav-link {
  color: white !important;
  font-size: 18px;
}

.nav-link:hover {
  color: #ec9fa4 !important;
}

/* LoginNavbar.js */
.nav-text {
  color: rgb(200, 200, 200) !important;
}

.nav-text:hover {
  color: rgb(200, 200, 200) !important;
}

/* Dropdown */

.dropdown .dropdown-menu:not(.dropdown-menu-right) div {
  color: #fff;
  text-decoration: none;
}

/* ? */
/* .dropdown .btn:active {
  color: #000;
} */

@media screen and (min-width: 990px) {
  .dropdown:hover .dropdown-menu:not(.dropdown-flags) {
    display: block;
  }
}

@media screen and (max-width: 990px) {
  .dropdown-menu-learnmore {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  .dropdown-menu.dropdown-item div {
    /* color: #3b5998 !important; */
    color: #3c286d !important;
  }

  a.btn {
    color: white !important;
  }

  .dropdown-menu div.dropdown-item:hover {
    background: none;
    color: #ec9fa4 !important;
  }
}

div.flag-dropdown-item:hover {
  background: none;
  cursor: pointer;
}

div.flag-dropdown-label {
  color: white;
}

div.flag-dropdown-item:hover div.flag-dropdown-label {
  color: #ec9fa4;
}

.dropdown-menu-learnmore {
  /* background-color: #3b5998; */
  /* background-color: #25318d; */
  /* opacity: 0.7; */
  /* background: linear-gradient(rgba(0, 150, 250, 0.3), transparent); */
  /* background-color: rgba(59, 89, 152, 0.8); */
  background-color: #3c286d;
  opacity: 0.8;
}

.dropdown-menu div.dropdown-item:hover {
  background: none;
  color: #ec9fa4;
}

.profile-dropdown-item div {
  color: white;
}

.profile-dropdown-item:hover div {
  color: #ec9fa4 !important;
}

.profile-dropdown-icon {
  color: white;
}

.profile-dropdown-item:hover .profile-dropdown-icon {
  color: #ec9fa4 !important;
}

.profile-dropdown-item:hover {
  /* color: #3b5998 !important; */
  color: #ec9fa4 !important;
  background-color: rgb(85, 64, 138, 0.4);
  cursor: pointer;
}

a.profile-nav-link:hover * {
  border-color: #ec9fa4 !important;
  color: #ec9fa4 !important;
}

a.profile-nav-link:hover img {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2) !important;
  transition: 0.2s !important;
}

span.logout-dropdown-item:hover {
  color: red !important;
  background-color: rgba(220, 53, 69, 0.2) !important;
  /* opacity: 1 !important; */
  cursor: pointer;
}

/* Login Logic */
#login-dp {
  min-width: 350px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}

#login-dp .help-block {
  font-size: 12px;
}

.hover-underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hover-opacity-button:hover {
  opacity: 0.8;
}

#login-dp .bottom-login {
  /* min-width: 350px; */
  width: auto;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

/* FOOTER */
span.footer-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer-icon:hover {
  font-size: 120%;
  transition: 1ms;
}

/* Language Selector */
.language-selector:hover {
  color: black !important;
  cursor: pointer;
}

.dropdown-toggle::after {
  color: white !important;
  text-align: center;
}

/* Spinner */
div.text-primary {
  color: #3c286d !important;
}

/* Sign-up pages */
.error-checkbox {
  color: #dc3545 !important;
}

div.form-group input.form-control {
  font-size: 18px !important;
}