.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.center-col {
  /* border-style: solid; */
  text-align: center;
}

.btn-radius {
  width: 30%!important;
  min-width: 200px;
  /* height: 40px; */
  border-radius: 100px!important;
}

.loginbuttons {
  margin-top: 5%;
}